@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 240 20% 99%;
        --foreground: 210 13% 13%;
        --card: 240 20% 98%;
        --card-foreground: 210 13% 13%;
        --popover: 240 20% 98%;
        --popover-foreground: 210 13% 13%;
        --muted: 230 11% 89%;
        --muted-foreground: 210 13% 0%;
        --accent: 240 11% 95%;
        --accent-foreground: 210 13% 13%;
        --primary: 252 56% 57%;
        --primary-foreground: 0 0% 93%;
        --secondary: 256 100% 95%;
        --secondary-foreground: 249 43% 26%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 233 10% 82%;
        --input: 233 10% 82%;
        --ring: 252 56% 57%;
        --radius: 0.5rem;
      }
     
      .dark {
        --background: 240 6% 7%;
        --foreground: 220 9% 94%;
        --card: 220 6% 10%;
        --card-foreground: 220 9% 94%;
        --popover: 220 6% 10%;
        --popover-foreground: 220 9% 94%;
        --muted: 214 7% 19%;
        --muted-foreground: 220 9% 60%;
        --accent: 225 6% 14%;
        --accent-foreground: 220 9% 94%;
        --primary: 252 56% 57%;
        --primary-foreground: 0 0% 93%;
        --secondary: 256 42% 25%;
        --secondary-foreground: 249 94% 93%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 213 8% 28%;
        --input: 213 8% 28%;
        --ring: 252 56% 57%;
      }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}